* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url('../images/moederboard.jpg') repeat;
}

header {
  background: #2B6F72;
  background-color: rgba(43, 111, 114, 0.5);
  width: 960px;
  height: 150px;
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
  text-shadow: 3px 3px 2px #222024;
}

#menu {
  position: fixed;
  right: 100;
  top: 7%;
  width: 8em;
  margin-top: -2.5em;
}

ul {
  padding: 10px;
}

ul li {
  padding: 5px;
  border: solid 2px black;
  display: inline-block;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}


section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: #2C898E;
}

section article:hover {
  background: white;
}

footer {
  background: #2C898E;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}
